:root {
	font-size: 16px;
	font-style: normal;
	font-family: 'Montserrat';
	--scrollbar-width: 0.5rem;
	--breakpoint-mobile: 320px; //320px — 480px: Mobile devices
	--breakpoint-tablet: 481px; // 481px — 768px: iPads, Tablets
	--breakpoint-small: 769px; // 769px — 1024px: Small screens, laptops
	--breakpoint-large: 1025px; //1025px — 1200px: Desktops, large screens
	--breakpoint-xlarge: 1201px; //1201px and more —  Extra large screens, TV
	--shadow-text: 1px 2px 0.3rem hsl(192, 96%, 28%);
	--shadow-text2: 2px 3px 0.5rem hsl(0, 0%, 100%);
	--shadow-shape: 0 0.3rem 0.5rem hsla(192, 100%, 36%, 0.5);
	--shadow-shape2: 0 1rem 2rem hsla(192, 100%, 36%, 0.2);
	--shadow-nav: 0 0.3rem 0.5rem hsla(192, 100%, 36%, 0.064);
	--circ-main-t: 12rem;
	--circ-main-r: 5rem;
	--ff-main: 'Montserrat', sans-serif;
	--fs-l: clamp(2rem, 2.5vw + 1rem, 4rem);
	--fs-800: 3rem;
	--fs-700: 2rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: clamp(1rem, 0.1vw + 0.8rem, 3rem);
	--fs-h1: clamp(38px, 5vw + 1rem, 48px);
	--fs-h1-alt: clamp(26px, 5vw + 1rem, 34px);
	--fs-h2: clamp(22px, 4vw + 1rem, 30px);
	--fs-h3: clamp(14px, 3vw + 1rem, 22px);
	--fs-p: clamp(12px, 3vw + 1rem, 20px);
	--fs-p-nav: min(14px, 2rem);
	--color-accent1: #1e90ff;
	--cyan: #31cbd6;
	--color-secondary: #013768;
	--color-primary: #ffffff;
	--black: #313131;
	--gradient: linear-gradient(180deg, #0094fe 0%, #31cbd6 56.77%, #cefcff 100%);
	--faded-gradient: linear-gradient(
		180deg,
		#0094fe -9.95%,
		#cefcff 50.98%,
		#ffffff 83.8%
	);
	--faded-gradient2: linear-gradient(
		180deg,
		#0094fe 0%,
		rgba(49, 203, 214, 0.75) 46.35%,
		rgba(206, 252, 255, 0.6) 100%
	);
	--main: linear-gradient(
		180deg,
		rgba(0, 148, 254, 0.35) 21.35%,
		rgba(49, 203, 214, 0.2625) 52.6%,
		rgba(206, 252, 255, 0.035) 100%
	);
	--booksynation: linear-gradient(
		180deg,
		rgba(40, 215, 173, 0.25) 21.88%,
		rgba(49, 203, 214, 0.1875) 47.92%,
		rgba(206, 252, 255, 0.025) 100%
	);
	--recycler: linear-gradient(
		180deg,
		rgba(13, 220, 111, 0.25) 0%,
		rgba(49, 203, 214, 0.1875) 48.96%,
		rgba(206, 252, 255, 0.025) 100%
	);
	--whitelist: linear-gradient(
		180deg,
		rgba(49, 49, 49, 0.25) 0%,
		rgba(49, 203, 214, 0.1875) 44.27%,
		rgba(206, 252, 255, 0.15) 100%,
		rgba(206, 252, 255, 0.025) 100%
	);
	--datagrades: linear-gradient(
		180deg,
		rgba(0, 2, 55, 0.25) 10.94%,
		rgba(49, 203, 214, 0.1875) 47.4%,
		rgba(206, 252, 255, 0.025) 100%
	);
	--altruwiz: linear-gradient(
		180deg,
		rgba(135, 66, 203, 0.25) 15.1%,
		rgba(49, 203, 214, 0.1875) 45.83%,
		rgba(206, 252, 255, 0.025) 100%
	);
	--tingbits: linear-gradient(
		180deg,
		rgba(248, 185, 82, 0.25) 15.1%,
		rgba(49, 203, 214, 0.042) 45.83%,
		rgba(206, 252, 255, 0.025) 100%
	);
}

html,
body,
h1,
h2,
h3,
a,
p {
	scroll-behavior: smooth;
	// overflow-x: hidden;
	scroll-snap-type: y proximity;
	margin: 0;
	padding: 0;
	&::-webkit-scrollbar {
		width: var(--scrollbar-width);
	}
	&::-webkit-scrollbar-track {
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		background: rgb(202, 202, 202);
		border-radius: 5px;
		&:hover {
			background: var(--cyan);
		}
	}
}

h1,
h2,
h3 {
	color: var(--color-secondary);
}

h1 {
	font-size: var(--fs-l);
	font-weight: 800;
}

p {
	font-size: var(--fs-400);
	font-weight: 400;
}

// h2,
// h3,
// p {
// 	// margin-bottom: 0.5em;
// }

// p {
// 	font-size: var(--fs-p);
// }

// img {
// 	// display: block;
// 	max-width: 100%;
// }

// .main {
// 	border: 1px solid red;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: column;
// 	row-gap: 0;
// }
// @media (min-width: 720px) {
// 	.main {
// 		width: 100%;
// 	}
// }
//navbar
.navbar {
	// border: 1px solid red;
	z-index: 99;
	position: fixed;
	height: 3rem;
	right: 0;
	left: 0;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary);
	transition: padding 500ms ease-in-out;
	// box-shadow: var(--shadow-nav);
	ul {
		// border: 1px solid red;
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&-item {
		margin-left: 1rem;
	}

	a {
		text-decoration: none;
		font-weight: 600;
		font-size: var(--fs-p-nav);
		color: var(--black);
		&:hover {
			color: var(--color-accent1);
		}
	}
	img {
		height: 2em;
		object-fit: contain;

		&:hover {
			cursor: pointer;
			filter: drop-shadow(0 0 0.2rem var(--color-accent1));
		}
	}

	// &-ulCont {
	// 	border: 1px solid red;
	// 	padding-left: 3vw;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: flex-start;

	// 	ul {
	// 		padding: 0;
	// 		display: flex;
	// 		flex-direction: row;
	// 		align-items: center;
	// 		justify-content: space-evenly;
	// 		list-style-type: none;
	// 	}

	// 	li {
	// 		margin-right: 3vw;
	// 	}
	// 	a {
	// 		text-decoration: none;
	// 		font-weight: 600;
	// 		font-size: var(--fs-p-nav);
	// 		color: var(--black);
	// 		&:hover {
	// 			color: var(--color-accent1);
	// 		}
	// 	}
	// 	img {
	// 		width: 4.5rem;
	// 		height: 4.5rem;
	// 		object-fit: contain;
	// 		&:hover {
	// 			cursor: pointer;
	// 			filter: drop-shadow(0 0 0.2rem var(--color-accent1));
	// 		}
	// 	}
	// }
}
@media (min-width: 481px) {
	.navbar {
		padding: 1rem 5rem;
		justify-content: flex-start;

		&-item {
			margin-left: 2rem;
		}
		img {
			height: 2.5em;
		}
	}
}

.footer {
	// border: 1px solid red;
	width: calc(100% - 4.2rem);
	height: 8rem;
	padding: 1rem 2rem 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-top: 1px solid rgba(157, 249, 255, 0.25);
	box-shadow: drop-shadow(0px -4px 7px rgba(157, 249, 255, 0.25));

	&-footcontent {
		width: 100%;
		height: 95%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&-top {
			width: 90%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			&-left {
				width: 60%;
				height: 100%;
				display: flex;
				flex-direction: row;

				justify-content: center;
				img {
					align-self: flex-start;
					width: 5rem;
					height: 5rem;
					object-fit: contain;
					&:hover {
						cursor: pointer;
						filter: drop-shadow(0 0 0.2rem var(--color-accent1));
					}
				}
			}

			&-right {
				width: 40%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
				img {
					width: 3rem;
					height: 3rem;
					object-fit: contain;
					&:hover {
						cursor: pointer;
						filter: drop-shadow(0 0 0.2rem var(--color-accent1));
					}
				}
			}
			@media (max-width: 720px) {
				&-left {
					width: 40%;
					img {
						width: 4rem;
						height: 4rem;
					}
				}
				&-right {
					width: 60%;
					img {
						width: 2.5rem;
						height: 2.5rem;
					}
				}
			}
			@media (max-width: 480px) {
				&-left {
					width: 30%;
					img {
						width: 3.5rem;
						height: 3.5rem;
					}
				}
				&-right {
					width: 70%;
					img {
						width: 2rem;
						height: 2rem;
					}
				}
			}
		}
		&-bot {
			margin-top: 1rem;
			p {
				font-size: 12px;
				color: grey;
			}
		}
	}
}

.header {
	// border: 1px solid red;
	padding-top: 3rem;
	height: calc(100vh + 5rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	// &-bg {
	// 	z-index: -1;
	// 	position: absolute;
	// 	height: 50vh;
	// 	width: 100%;
	// 	top: -5rem;
	// 	border-radius: 10px;
	// 	background: var(--main);
	// }
	&-container {
		// border: 1px solid red;
		height: 100%;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		&-back {
			z-index: -1;
			position: absolute;
			top: 0;
			// border: 1px solid red;
			// background-color: #cefcff;
			height: 35rem;
			width: 100%;
			&-circle {
				z-index: -1;
				position: absolute;
				width: 280px;
				height: 280px;
				right: var(--circ-main-r);
				top: var(--circ-main-t);
				border-radius: 50%;
				opacity: 1;
				background: var(--gradient);
				transition: right 1.5s ease-in-out, top 1.5s ease-in-out;
			}
			&-circle2 {
				z-index: -2;
				position: absolute;
				width: 180px;
				height: 180px;
				right: calc(var(--circ-main-r) + 10rem);
				top: var(--circ-main-t);
				background: var(--gradient);
				border-radius: 50%;
				opacity: 0.35;
				transition: right 1.5s ease-in-out, top 1.5s ease-in-out;
			}
			&-circle3 {
				z-index: -3;
				position: absolute;
				width: 120px;
				height: 120px;
				right: calc(var(--circ-main-r) + 17rem);
				top: var(--circ-main-t);
				background: var(--gradient);
				border-radius: 50%;
				opacity: 0.1;
				transition: right 1.5s ease-in-out, top 1.5s ease-in-out;
			}
		}

		@media (min-width: 1281px) {
			//extra large
			h1 {
				font-size: var(--fs-l);
				transition: font-size 1s ease-in-out;
			}
			&-back {
				&-circle {
					width: 500px;
					height: 500px;
					top: 30%;
					left: 50%;
					border-radius: 50%;
					opacity: 1;
				}
				&-circle2 {
					width: 380px;
					height: 380px;
					top: 25%;
					left: 40%;
					border-radius: 50%;
					opacity: 0.35;
				}
				&-circle3 {
					width: 270px;
					height: 270px;
					top: 25%;
					left: 33%;
					border-radius: 50%;
					opacity: 0.1;
				}
			}
		}
		@media (max-width: 1280px) {
			//desktop - large
			&-back {
				&-circle {
					width: 400px;
					height: 400px;
					top: 15%;
					left: 50%;
					border-radius: 50%;
					opacity: 1;
				}
				&-circle2 {
					width: 280px;
					height: 280px;
					top: 15%;
					left: 40%;
					border-radius: 50%;
					opacity: 0.35;
				}
				&-circle3 {
					width: 170px;
					height: 170px;
					top: 15%;
					left: 33%;
					border-radius: 50%;
					opacity: 0.1;
				}
			}
		}

		&-col1 {
			// border: 1px solid red;
			display: flex;
			width: 100%;
			height: 90%;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;

			&-top {
				// border: 1px solid red;
				display: flex;
				flex-direction: column;
				width: fit-content;
				p {
					margin: 0.5rem 0.2rem;
				}
				&-textcont {
					p {
						margin: 0.3rem 0.2rem;
					}
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					justify-content: flex-start;
					width: 100%;
					&-text1 {
						&-name {
							color: var(--color-secondary);
							h1 {
								// font-size: var(--fs-800);

								transition: font-size 1s ease-in-out;
							}
							&-2 {
								// font-weight: 800;
								color: var(--color-primary);
								text-shadow: var(--shadow-text);
							}
						}
					}
				}
			}

			&-row {
				width: fit-content;
				height: fit-content;
				// border: 1px solid red;
				align-self: center;
				display: flex;
				flex-direction: row;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				&-button1 {
					// border: 1px solid red;
					margin: 1rem 1rem;
					font-weight: 600;
					width: 30%;
					min-width: 12rem;
					height: 3em;
					// font-size: var(--fs-p);
					font-family: var(--ff-main);
					border: 0;
					border-radius: 5px;
					background-color: var(--color-accent1);
					color: var(--color-primary);
					cursor: pointer;
					&:hover {
						filter: drop-shadow(0 0 0.2rem var(--color-accent1));
					}
				}
				a {
					width: 30%;
					min-width: 12rem;
					text-decoration: none;
				}
				&-button2 {
					// border: 1px solid red;
					margin: 1rem 0;
					color: var(--color-accent1);
					border: 1px solid var(--color-accent1);
					text-decoration: none;
					font-weight: 500;
					width: 100%;
					min-width: 12rem;
					height: 3em;
					font-family: var(--ff-main);
					// font-size: var(--fs-p);
					background-color: transparent;
					border-radius: 5px;
					cursor: pointer;
					&:hover {
						color: var(--cyan);
						border: 1px solid var(--cyan);
					}
				}
			}
			@media (min-width: 481px) {
				// &-row {
				// 	// a {
				// 	// 	margin-left: 1rem;
				// 	// 	width: 40%;
				// 	// 	min-width: 12rem;
				// 	}
				// }
			}
		}
	}
}

.techStack {
	height: 100%;
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 0 8rem 0;

	&-cont1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h1 {
			font-weight: 700;
			// font-size: var(--fs-h1);
			color: var(--color-secondary);
		}
		p {
			font-weight: 500;
			padding-top: 1em;
			text-align: center;
			color: var(--black);
		}
	}
	&-cont2 {
		padding: 5vh 5vw;
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		column-gap: 5vw;
		row-gap: 10vh;
		img {
			object-fit: contain;
			height: 100px;
			width: 100px;
		}
	}
}

.projects {
	padding: 5vh 5vw;
	height: auto;
	width: min(90%, 70.5rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	&-comet {
		z-index: -1;
		opacity: 0.2;
		position: absolute;
		width: 45.52px;
		height: 388.24px;
		left: 10rem;
		top: -10rem;
		border-radius: 50%;
		background: var(--faded-gradient);
		transform: matrix(-0.54, -0.79, 0.92, -0.5, 0, 0);
	}

	&-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5vh;

		&-title {
			align-self: flex-start;
			h1 {
				font-weight: 700;
				// font-size: var(--fs-h1);
				margin-bottom: 5vh;
				color: var(--color-secondary);
			}
		}
		p {
			font-weight: 500;
			// font-size: var(--fs-p);
			text-align: justify;
			color: var(--black);
		}
	}

	&-card {
		display: flex;
		padding: 2vh;
		flex-direction: row;
		flex-wrap: wrap;
		width: min(90%, 70.5rem);
		border-radius: 5px;
		min-width: 300px;
		position: relative;
		justify-content: space-evenly;
		margin-bottom: 5vh;
		border: 1px solid rgba(173, 172, 172, 0.236);
		box-shadow: 0 0.3rem 5rem rgba(173, 172, 172, 0.096);
		background-color: var(--color-primary);

		&-col1 {
			aspect-ratio: 1;
			min-width: 300px;
			width: calc(50% - 2rem);
			position: relative;

			&-frame {
				position: relative;
				z-index: 1;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 5px;
				&:hover {
					cursor: pointer;
				}
			}
			&-overlay {
				border-radius: 5px;
				top: 0;
				right: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				position: absolute;
				background: var(--color-primary);
				transition: background 0.5s ease-in-out;
				&:hover {
					cursor: pointer;
					background: none;
					transition: background 0.5s ease-in-out;
				}
			}
			&-logo {
				position: absolute;
				z-index: 2;
				width: 50%;
				height: 50%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				object-fit: contain;

				&:hover {
					cursor: pointer;
				}
			}
		}
		&-col2 {
			width: calc(60% - 10rem);
			min-width: 300px;
			margin: 3rem 2rem;
			&-title {
				margin-bottom: 5vh;
				h2 {
					font-weight: 700;
					// font-size: var(--fs-h2);
					color: var(--color-secondary);
				}
				h3 {
					font-weight: 600;
					// font-size: var(--fs-h3);
					color: var(--black);
				}
			}
			p {
				font-weight: 400;
				// font-size: var(--fs-p);
				text-align: justify;
				color: var(--black);
				margin-bottom: 2rem;
			}
			&-bottom {
				display: flex;
				height: 3.5rem;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				button {
					font-family: 'Montserrat';
					font-weight: 500;
					// font-size: var(--fs-p);
					border: none;
					padding: 0;
					text-transform: none;
					text-align: left;
					&:hover {
						color: var(--color-secondary);
						background: none;
						background-color: transparent;
						transition: none;
						border: none;
					}
				}
				&-left {
					align-self: center;
					width: 40%;
				}
				&-right {
					width: 60%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					img {
						height: 2.8rem;
						object-fit: contain;
						&:hover {
							height: 3rem;
							cursor: pointer;
							filter: drop-shadow(0 0 0.2rem var(--color-accent1));
						}
					}
					button {
						cursor: auto;
						color: var(--color-secondary);
					}
				}
			}
			@media (max-width: 520px) {
				&-title {
					margin-bottom: 2vh;
					h2 {
						margin: 0 1rem;
						// font-size: var(--fs-h3);
					}
					h3 {
						margin: 0 1rem;
						// font-size: var(--fs-h4);
					}
				}
				p {
					margin: 0 1rem;
					font-weight: 400;
					// font-size: var(--fs-h4);
				}
				&-bottom {
					height: 2rem;
					margin: 1rem;
					justify-content: space-evenly;
					button {
						font-family: 'Montserrat';
						font-weight: 400;
						font-size: 0.8rem;

						&:hover {
							color: var(--color-secondary);
							background: none;
							background-color: transparent;
							transition: none;
							border: none;
						}
					}
					&-left {
						width: 40%;
					}
					&-right {
						width: 60%;
						img {
							height: 2rem;
							object-fit: contain;
							&:hover {
								height: 2.2rem;
							}
						}
					}
				}
			}
		}
		@media (max-width: 1080px) {
			&-col1 {
				width: min(80%, 60.5rem);
			}
			&-col2 {
				width: min(80%, 60.5rem);
			}
		}
	}
}

.details {
	height: auto;
	display: flex;
	width: calc(100% - 0.2rem);
	flex-direction: column;
	align-items: center;
	position: relative;
	text-align: justify;

	&-bg-booksynation {
		z-index: -1;
		position: absolute;
		height: 50vh;
		width: 100%;
		top: -5rem;
		border-radius: 10px;
		background: var(--booksynation);
	}
	&-bg-recycler {
		z-index: -1;
		position: absolute;
		height: 50vh;
		width: 100%;
		top: -5rem;
		border-radius: 10px;
		background: var(--recycler);
	}
	&-bg-whitelist {
		z-index: -1;
		position: absolute;
		height: 50vh;
		width: 100%;
		top: -5rem;
		border-radius: 10px;
		background: var(--color-primarylist);
	}
	&-bg-datagrades {
		z-index: -1;
		position: absolute;
		height: 50vh;
		width: 100%;
		top: -5rem;
		border-radius: 10px;
		background: var(--datagrades);
	}
	&-bg-altruwiz {
		z-index: -1;
		position: absolute;
		height: 50vh;
		width: 100%;
		top: -5rem;
		border-radius: 10px;
		background: var(--altruwiz);
	}
	&-bg-tingbits {
		z-index: -1;
		position: absolute;
		height: 50vh;
		width: 100%;
		top: -5rem;
		border-radius: 10px;
		background: var(--tingbits);
	}
	&-header {
		// margin: 5rem 3vw;
		margin: 3rem 5vw;
		// padding: 3rem 5vw;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		&-head {
			width: 100%;
			padding-bottom: 3rem;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			img {
				max-width: 10rem;
				min-width: 100px;
				object-fit: contain;
				margin-right: 5vw;
				// border-radius: 50%;
			}
			@media (min-width: 900px) {
				img {
					max-width: 10rem;
				}
			}
			&-title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				h1 {
					font-size: var(--fs-h2);
					padding-bottom: 2vh;
					transition: font-size 1s ease-in-out;
				}
				@media (min-width: 720px) {
					h1 {
						font-size: var(--fs-h1);
						transition: font-size 1s ease-in-out;
					}
				}
				h3 {
					margin: 0;
					padding: 0;
					font-size: var(--fs-h4);
					color: var(--black);
				}
				h4 {
					font-size: var(--fs-h4);
					font-weight: 500;
					margin-top: 0.5rem;
				}
			}
		}
		@media (max-width: 480px) {
			&-head {
				justify-content: center;
				padding: 1rem 0;
				text-align: center;
				transition: padding 1s ease-in-out;
				&-title {
					margin-top: 1rem;
				}
			}
		}
		&-body {
			p {
				font-size: var(--fs-p);
				line-height: 2rem;
			}
		}
	}
	&-hero {
		width: 100%;
		margin: 5rem 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		position: relative;
		justify-content: center;
		background: linear-gradient(
			256.56deg,
			rgba(83, 83, 83, 0) 14.89%,
			rgba(0, 148, 254, 0.16) 79.85%
		);
		&-frame {
			aspect-ratio: 1;
			width: 45%;
			min-width: 320px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-circle {
			z-index: -1;
			position: absolute;
			border-radius: 50%;
			width: 250px;
			height: 250px;
			right: 2rem;
			top: -10rem;
			transition: right 1s ease-in-out, top 1s ease-in-out;
			background: linear-gradient(
				180deg,
				rgba(0, 148, 254, 0.25) 0%,
				rgba(49, 203, 214, 0.25) 56.77%,
				rgba(206, 252, 255, 0.25) 100%
			);
		}

		&-right {
			margin: 4rem 2rem;
			width: calc(55% - 4rem);
			min-width: 320px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			&-divider {
				margin: 1rem 0;
			}
			&-stack {
				align-self: flex-end;
				display: flex;
				flex-direction: row;
				margin: 2rem 0;
				img {
					width: 3rem;
					height: 3rem;
					margin-right: 1rem;
					object-fit: contain;
				}
			}
			h2 {
				margin: 1rem 0;
				font-size: var(--fs-h2);
			}
			p {
				margin: 1rem 0;
				font-size: var(--fs-p);
			}
		}

		@media (max-width: 900px) {
			&-circle {
				right: 15rem;
				top: 58rem;
				transition: right 1s ease-in-out, top 1s ease-in-out;
			}
			&-frame {
				aspect-ratio: 1;
				width: 100%;
			}
			&-right {
				width: calc(80% - 4rem);
			}
		}
		@media (max-width: 480px) {
			&-right {
				&-stack {
					align-self: center;
					img {
						width: 2rem;
						height: 2rem;
					}
				}
				h2 {
					font-size: var(--fs-h3);
					margin: 1rem 2rem;
				}
				p {
					font-size: var(--fs-h4);
					margin: 1rem 2rem;
				}
			}
		}
	}
	&-botSection {
		margin: 1rem 3rem 5rem 3rem;
		padding: 0 2rem;
		display: flex;
		flex-direction: column;
		position: relative;
		&-comet {
			z-index: -1;
			opacity: 0.8;
			position: absolute;
			width: 32.88px;
			height: 510.32px;
			left: 10rem;
			top: -15rem;
			border-radius: 50%;
			background: linear-gradient(
				180deg,
				rgba(0, 148, 254, 0.25) -9.95%,
				rgba(206, 252, 255, 0.25) 50.98%,
				rgba(255, 255, 255, 0.25) 83.8%
			);
			transform: rotate(-121.4deg);
		}
		h2 {
			margin: 2rem 0;
			font-size: var(--fs-h2);
		}
		p {
			margin: 2rem 0;
			font-size: var(--fs-p);
		}
		&-buttons {
			margin: 2rem 0;
			align-self: flex-end;
			height: 3rem;
			width: 20rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			img {
				height: 3rem;
				object-fit: contain;
				&:hover {
					height: 3.2rem;
				}
			}
			button {
				cursor: auto;
				color: var(--color-secondary);
				&:hover {
					background-color: transparent;
				}
			}
		}
		@media (max-width: 480px) {
			&-comet {
				left: 10rem;
				top: -17rem;
			}
			h2 {
				font-size: var(--fs-h3);
				margin: 1rem 1rem;
			}
			p {
				font-size: var(--fs-h4);
				margin: 1rem 1rem;
			}
			&-buttons {
				width: 18rem;
				justify-content: flex-end;
				img {
					height: 2.5rem;
					object-fit: contain;
					margin-right: 1rem;
					&:hover {
						height: 3rem;
					}
				}
			}
		}
	}
}

.view-buttons {
	&:hover {
		cursor: pointer;
		filter: drop-shadow(0 0 0.2rem var(--color-accent1));
	}
}
.about {
	// border: 1px solid red;
	margin-top: 5rem;
	width: calc(100% - 0.2rem);
	display: flex;
	flex-direction: column;
	text-align: justify;
	align-items: flex-start;
	&-bg {
		z-index: -1;
		position: absolute;
		height: 50vh;
		width: 100%;
		top: -5rem;
		border-radius: 10px;
		background: var(--main);
	}
	&-title {
		// border: 1px solid red;
		padding: 2rem 3rem 5rem 3rem;
		&-comet {
			position: absolute;
			z-index: -1;
			width: 45px;
			height: 350px;
			left: 10rem;
			border-radius: 50%;
			background: var(--faded-gradient);
			opacity: 0.8;
			transform: rotate(-121.4deg);
		}
	}
	&-desc1 {
		// border: 1px solid red;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		text-align: start;
		margin: 2rem 2rem;
		height: 40vh;
		width: calc(80% - 5rem);

		h2 {
			color: var(--black);
			font-size: var(--fs-h2);
			font-weight: 500;
			transition: font-size 1s ease-in-out;
		}
	}
	@media (max-width: 400px) {
		&-title {
			&-comet {
				opacity: 0.1;
			}
			h1 {
				font-size: var(--fs-h2);
				transition: font-size 1s ease-in-out;
			}
		}
		&-desc1 {
			h2 {
				font-size: var(--fs-h3);
				transition: font-size 1s ease-in-out;
			}
		}
	}
	&-desc2 {
		// border: 1px solid red;
		height: 50vh;
		min-width: 320px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		align-self: center;
		&-circle {
			// border: 1px solid red;
			position: absolute;
			z-index: -1;
			width: 600px;
			height: 600px;
			left: 25%;
			top: -30%;
			border-radius: 50%;
			box-shadow: var(--shadow-shape2);
			background: var(--faded-gradient2);
			opacity: 0.5;
			transition: height 1s ease-in-out, width 1s ease-in-out,
				top 1s ease-in-out;
			transform: rotate(-121.4deg);
		}
		h2 {
			color: var(--black);
			font-size: var(--fs-h2);
			font-weight: 800;
			text-align: center;
		}

		@media (max-width: 900px) {
			&-circle {
				width: 320px;
				height: 320px;
				left: 15%;
				top: 5%;
			}
			h2 {
				font-size: var(--fs-h3);
				font-weight: 700;
				text-align: justify;
			}
		}
		@media (max-width: 420px) {
			&-circle {
				width: 280px;
				height: 280px;
				left: 10%;
				top: 10%;
			}
			h2 {
				margin: 2rem 1rem;
				font-size: var(--fs-h4);
				font-weight: 700;
				text-align: justify;
			}
		}
	}

	@media (min-width: 900px) {
		&-desc2 {
			margin: 2rem;
			padding: 0 10rem;
			height: 50vh;
			text-align: center;
			position: relative;
		}
	}
	@media (max-width: 900px) {
		&-desc2 {
			height: 40vh;
			margin: 0 2rem;
		}
	}
	&-hero {
		// border: 1px solid red;
		margin: 8rem 0 0 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-between;
		background: linear-gradient(
			256.56deg,
			rgba(83, 83, 83, 0) 14.89%,
			rgba(0, 148, 254, 0.16) 79.85%
		);
		&-image {
			aspect-ratio: 1;
			width: calc(45% - 1rem);
			min-width: 320px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-right {
			// border: 1px solid red;
			width: calc(55% - 1rem);
			min-width: 320px;
			display: flex;
			flex-direction: column;
			align-items: space-evenly;
			justify-content: center;
			color: var(--color-accent1);
			&-top {
				height: calc(55% - 4rem);
				padding: 4rem 2rem 0 2rem;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				h2 {
					font-size: max(1.8vw, 1.5rem);
				}
				&-entries {
					align-self: center;
					display: grid;
					grid-template-columns: 1fr 1fr;
					row-gap: 1rem;
					column-gap: 5rem;
					margin: 2rem 0;
					text-align: center;

					p {
						font-size: max(1.8vw, 1.3rem);
					}
				}
				@media (max-width: 600px) {
					h2 {
						font-size: var(--fs-h4);
					}
					&-entries {
						p {
							font-size: var(--fs-h4);
						}
					}
				}
			}
			&-divider {
				padding: 1rem 0;
			}
			&-bot {
				height: calc(50% - 4rem);
				padding: 0 2rem 0 2rem;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				h2 {
					font-size: max(1.8vw, 1.5rem);
				}
				&-entries {
					align-self: center;
					display: grid;
					grid-template-columns: 1fr 1fr;
					row-gap: 1rem;
					column-gap: 2rem;
					margin: 2rem 0;
					text-align: center;

					p {
						font-size: max(1.8vw, 1.3rem);
					}
				}
				@media (max-width: 600px) {
					h2 {
						font-size: var(--fs-h4);
					}
					&-entries {
						p {
							font-size: var(--fs-h4);
						}
					}
				}
			}
		}
		@media (max-width: 800px) {
			&-right {
				width: 100%;
			}
			&-image {
				width: 100%;
			}
		}
	}
	@media (max-width: 900px) {
		&-hero {
			margin: 4rem 0 0 0;
		}
	}
	&-desc3 {
		margin: 2rem 0;
		padding: 2rem;
		height: auto;
		width: calc(100% - 4.2rem);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&-saying {
			margin-top: 2rem;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			h2 {
				color: var(--black);
			}

			&-quote {
				align-self: center;
				margin-bottom: 2rem;
				h3 {
					font-weight: 700;
					font-size: 1.8rem;
					color: var(--color-accent1);
				}

				h4 {
					align-self: flex-start;
					font-size: 1.2rem;
				}

				p {
					font-size: 1.3rem;
				}
			}
			@media (max-width: 400px) {
				&-quote {
					h3 {
						font-size: var(--fs-h3);
						text-align: justify;
					}

					h4 {
						font-size: 1.2rem;
					}

					p {
						font-size: var(--fs-h4);
					}
				}
			}
		}
	}
	@media (max-width: 900px) {
		&-desc3 {
			&-saying {
				align-self: center;
				width: 85%;
			}
		}
	}
}

.contact {
	// border: 1px solid red;
	display: flex;
	width: min(90%, 70.5rem);
	flex-direction: column;
	margin: 4rem 1rem;
	align-items: flex-start;
	h3 {
		font-size: var(--fs-h3);
	}

	&-cont {
		padding-left: 2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&-row {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 1rem;
			button {
				font-size: max(1.8vw, 1.2rem);
				color: var(--black);
				text-transform: lowercase;
				&:hover {
					background-color: none;
					background: none;
					color: var(--color-accent1);
				}
			}
			&-pop {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
		}
	}
	@media (min-width: 900px) {
		&-cont {
			padding-left: 5rem;
		}
	}
	@media (max-width: 400px) {
		&-cont {
			h3 {
				font-size: var(--fs-h4);
			}
			&-row {
				button {
					font-size: var(--fs-h4);
				}
			}
		}
	}
}
