:root {
	font-size: 16px;
	font-style: normal;
	font-family: 'Montserrat';
	--scrollbar-width: 0.5rem;
	--breakpoint-mobile: 320px; //320px — 480px: Mobile devices
	--breakpoint-tablet: 481px; // 481px — 768px: iPads, Tablets
	--breakpoint-small: 769px; // 769px — 1024px: Small screens, laptops
	--breakpoint-large: 1025px; //1025px — 1200px: Desktops, large screens
	--breakpoint-xlarge: 1201px; //1201px and more —  Extra large screens, TV
	--shadow-text: 1px 2px 0.3rem hsl(192, 96%, 28%);
	--ff-main: 'Montserrat', sans-serif;
	--fs-l: clamp(2rem, 2.5vw + 1rem, 4rem);
	--fs-800: 3rem;
	--fs-700: clamp(1.8rem, 1.5vw + 1rem, 2.5rem);
	--fs-600: 1.5rem;
	--fs-500: 1rem;
	--fs-400: clamp(1rem, 0.1vw + 0.8rem, 3rem);
	--fs-400-alt: clamp(1rem, 0.1vw + 0.8rem, 2rem);
	--fs-h2: clamp(1.5rem, 2vw + 1rem, 3rem);
	--fs-h3: clamp(1rem, 0.5vw + 0.8rem, 2.5rem);
	--fs-p: clamp(0.8rem, 0.1vw + 0.8rem, 2rem);
	--fs-p-nav: min(14px, 2rem);
	--color-accent1: #1e90ff;
	--color-accent2: #31cbd6;
	--color-secondary: #013768;
	--color-primary: #ffffff;
	--color-secondary2: #313131;
	--color-grey: #949494;
	--gradient: linear-gradient(180deg, #0094fe 0%, #31cbd6 56.77%, #cefcff 100%);
	--faded-gradient: linear-gradient(
		180deg,
		#0094fe -9.95%,
		#cefcff 50.98%,
		#ffffff 83.8%
	);
	--faded-gradient2: linear-gradient(
		180deg,
		#0094fe 0%,
		rgba(49, 203, 214, 0.75) 46.35%,
		rgba(206, 252, 255, 0.6) 100%
	);
	--main: linear-gradient(
		180deg,
		rgba(0, 148, 254, 0.35) 21.35%,
		rgba(49, 203, 214, 0.2625) 52.6%,
		rgba(206, 252, 255, 0.035) 100%
	);
	--booksynation: linear-gradient(
		180deg,
		rgba(40, 215, 173, 0.25) 24.48%,
		rgba(255, 255, 255, 0) 91.46%
	);
	--recycler: linear-gradient(
		180deg,
		rgba(13, 220, 111, 0.25) 24.48%,
		rgba(255, 255, 255, 0) 91.46%
	);
	--whitelist: linear-gradient(
		180deg,
		rgba(49, 49, 49, 0.25) 24.48%,
		rgba(255, 255, 255, 0) 91.46%
	);
	--datagrades: linear-gradient(
		180deg,
		rgba(0, 2, 55, 0.25) 24.48%,
		rgba(255, 255, 255, 0) 91.46%
	);
	--altruwiz: linear-gradient(
		180deg,
		rgba(135, 66, 203, 0.25) 24.48%,
		rgba(255, 255, 255, 0) 91.46%
	);
	--tingbits: linear-gradient(
		108.23deg,
		#eca82e 24.48%,
		rgba(255, 255, 255, 0) 91.46%
	);
}

html,
body,
h1,
h2,
h3,
h4,
a,
p {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
}

html,
body {
	&::-webkit-scrollbar {
		width: var(--scrollbar-width);
	}
	&::-webkit-scrollbar-track {
		background: white;
	}
	&::-webkit-scrollbar-thumb {
		background: rgb(202, 202, 202);
		border-radius: 5px;
		&:hover {
			background: var(--color-accent2);
		}
	}
}

h1,
h2,
h3 {
	color: var(--color-secondary);
}

h1 {
	font-size: var(--fs-l);
	font-weight: 900;
}

h2 {
	font-size: var(--fs-700);
	font-weight: 800;
}

h3 {
	font-size: var(--fs-600);
	font-weight: 700;
}

h4 {
	font-size: var(--fs-500);
	font-weight: 600;
}

p {
	font-size: var(--fs-400);
	font-weight: 500;
	font-size: var(--fs-h3);
}

.main {
	display: flex;
	padding: 1rem;
	flex-direction: column;
}

@media (max-width: 800px) {
	.main {
		overflow-x: hidden;
		padding: 0.5rem;
	}
}

//navbar
.navbar {
	z-index: 99;
	position: fixed;
	height: 3rem;
	right: 0;
	left: 0;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary);
	transition: padding 500ms ease-in-out;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&-item {
		margin-left: 1rem;
	}

	a {
		text-decoration: none;
		font-weight: 600;
		font-size: var(--fs-p-nav);
		color: var(--color-secondary2);
		&:hover {
			cursor: pointer;
			color: var(--color-accent1);
		}
	}
	img {
		height: 2em;
		object-fit: contain;

		&:hover {
			cursor: pointer;
			filter: drop-shadow(0 0 0.2rem var(--color-accent1));
		}
	}
}
@media (min-width: 481px) {
	.navbar {
		padding: 1rem 5rem;
		justify-content: flex-start;
		a {
			font-size: var(--fs-400-alt);
		}
		&-item {
			margin-left: 2rem;
		}
		img {
			height: 2.5em;
		}
	}
}
@media (min-width: 1920px) {
	.navbar {
		padding: 1rem 30rem;
		justify-content: flex-start;
		a {
			font-size: var(--fs-400-alt);
		}
		&-item {
			margin-left: 2rem;
		}
		img {
			height: 2.5em;
		}
	}
}

.footer {
	// border: 1px solid red;
	right: 0;
	left: 0;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-top: 1px solid rgba(157, 249, 255, 0.25);
	box-shadow: drop-shadow(0px -4px 7px rgba(157, 249, 255, 0.25));

	&-footcontent {
		width: 100%;
		height: 95%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&-top {
			width: 90%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			&-left {
				width: 60%;
				height: 100%;
				display: flex;
				flex-direction: row;

				justify-content: center;
				img {
					align-self: flex-start;
					width: 5rem;
					height: 5rem;
					object-fit: contain;
					&:hover {
						cursor: pointer;
						filter: drop-shadow(0 0 0.2rem var(--color-accent1));
					}
				}
			}

			&-right {
				width: 40%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
				img {
					width: 3rem;
					height: 3rem;
					object-fit: contain;
					&:hover {
						cursor: pointer;
						filter: drop-shadow(0 0 0.2rem var(--color-accent1));
					}
				}
			}
			@media (max-width: 720px) {
				&-left {
					width: 40%;
					img {
						width: 4rem;
						height: 4rem;
					}
				}
				&-right {
					width: 60%;
					img {
						width: 2.5rem;
						height: 2.5rem;
					}
				}
			}
			@media (max-width: 480px) {
				&-left {
					width: 30%;
					img {
						width: 3.5rem;
						height: 3.5rem;
					}
				}
				&-right {
					width: 70%;
					flex-direction: row;
					align-items: center;
					img {
						width: 2rem;
						height: 2rem;
					}
				}
			}
		}
		&-bot {
			margin-top: 1rem;
			p {
				font-size: 12px;
				color: var(--color-grey);
			}
		}
	}
}

.header {
	padding-top: 2rem;
	height: calc(100vh + 5rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	&-container {
		height: 100%;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		&-back {
			z-index: -1;
			position: absolute;
			top: 0;
			height: 35rem;
			width: 100%;
			&-circle {
				z-index: -1;
				position: absolute;
				border-radius: 50%;
				opacity: 1;
				background: var(--gradient);
				transition: right 1.5s ease-in-out, top 1.5s ease-in-out;
			}
			&-circle2 {
				z-index: -2;
				position: absolute;
				background: var(--gradient);
				border-radius: 50%;
				opacity: 0.35;
				transition: right 1.5s ease-in-out, top 1.5s ease-in-out;
			}
			&-circle3 {
				z-index: -3;
				position: absolute;
				background: var(--gradient);
				border-radius: 50%;
				opacity: 0.1;
				transition: right 1.5s ease-in-out, top 1.5s ease-in-out;
			}
		}

		@media (max-width: 1280px) {
			//desktop - large
			&-back {
				&-circle {
					width: 400px;
					height: 400px;
					top: 15%;
					left: 50%;
				}
				&-circle2 {
					width: 280px;
					height: 280px;
					top: 15%;
					left: 40%;
				}
				&-circle3 {
					width: 170px;
					height: 170px;
					top: 15%;
					left: 33%;
				}
			}
		}
		@media (min-width: 1281px) {
			//extra large
			h1 {
				font-size: var(--fs-l);
				transition: font-size 1s ease-in-out;
			}
			&-back {
				&-circle {
					width: 500px;
					height: 500px;
					top: 25%;
					left: 50%;
				}
				&-circle2 {
					width: 380px;
					height: 380px;
					top: 25%;
					left: 40%;
				}
				&-circle3 {
					width: 270px;
					height: 270px;
					top: 25%;
					left: 33%;
				}
			}
		}

		&-col1 {
			display: flex;
			width: 100%;
			height: 90%;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;

			&-top {
				display: flex;
				flex-direction: column;
				width: fit-content;
				p {
					margin: 0.5rem 0.2rem;
				}
				&-textcont {
					p {
						margin: 0.3rem 0.2rem;
					}
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					justify-content: flex-start;
					width: 100%;
					&-text1 {
						&-name {
							color: var(--color-secondary);
							h1 {
								transition: font-size 1s ease-in-out;
							}
							&-2 {
								color: var(--color-primary);
								text-shadow: var(--shadow-text);
							}
						}
					}
				}
			}

			&-row {
				width: fit-content;
				height: fit-content;
				align-self: center;
				display: flex;
				flex-direction: row;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				&-button1 {
					margin: 1rem 1rem;
					font-weight: 600;
					width: 30%;
					min-width: 12rem;
					height: 3em;
					font-size: var(--fs-400);
					font-family: var(--ff-main);
					border: 0;
					border-radius: 5px;
					background-color: var(--color-accent1);
					color: var(--color-primary);
					cursor: pointer;
					&:hover {
						filter: drop-shadow(0 0 0.2rem var(--color-accent1));
					}
				}

				&-button2 {
					margin: 1rem 0;
					color: var(--color-accent1);
					border: 1px solid var(--color-accent1);
					text-decoration: none;
					font-weight: 500;
					width: 30%;
					min-width: 12rem;
					text-decoration: none;
					height: 3em;
					font-family: var(--ff-main);
					font-size: var(--fs-400);
					background-color: transparent;
					border-radius: 5px;
					cursor: pointer;
					&:hover {
						color: var(--color-accent2);
						border: 1px solid var(--color-accent2);
					}
				}
			}
			@media (min-width: 1281px) {
				&-row {
					width: fit-content;
					flex-wrap: nowrap;

					&-button1 {
						min-width: 20rem;
					}
					&-button2 {
						min-width: 20rem;
					}
				}
			}
		}
	}
}

.techStack {
	align-self: center;
	height: fit-content;
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: -5rem 0 8rem 0;
	&-cont1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h2 {
			color: var(--color-secondary);
		}
		p {
			padding-top: 1em;
			text-align: center;
			color: var(--color-secondary2);
		}
	}
	&-cont2 {
		margin-top: 4rem;
		max-width: 1200px;
		font-size: 2rem;
		display: grid;
		grid-gap: 5rem;

		img {
			object-fit: contain;
			height: 2em;
			width: 2em;
		}
	}
	@media (min-width: 300px) {
		&-cont2 {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (min-width: 600px) {
		&-cont2 {
			grid-template-columns: repeat(3, 1fr);
			img {
				height: 2.5em;
				width: 2.5em;
			}
		}
	}

	@media (min-width: 1026px) {
		&-cont2 {
			grid-template-columns: repeat(5, 1fr);
			img {
				height: 3em;
				width: 3em;
			}
		}
	}
}
@media (min-width: 600px) {
	.techStack {
		height: fit-content;
	}
}

@media (min-height: 2000px) {
	//desktop - xlarge
	.header {
		&-container {
			height: 100vh;
			&-back {
				&-circle {
					top: 80%;
					left: 50%;
				}
				&-circle2 {
					top: 80%;
					left: 42%;
				}
				&-circle3 {
					top: 80%;
					left: 38%;
				}
			}
		}
	}
	.techStack {
		margin-top: -30vh;
		height: 30vh;
	}
}

.projects {
	// padding: 5vh 5vw;
	height: auto;
	width: min(90%, 70.5rem);
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	position: relative;
	// &-comet {
	// 	z-index: -1;
	// 	opacity: 0.2;
	// 	position: absolute;
	// 	width: 45.52px;
	// 	height: 388.24px;
	// 	left: 10rem;
	// 	top: -10rem;
	// 	border-radius: 50%;
	// 	background: var(--faded-gradient);
	// 	transform: matrix(-0.54, -0.79, 0.92, -0.5, 0, 0);
	// }

	&-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5vh;

		&-title {
			align-self: flex-start;
			h2 {
				margin-bottom: 1rem;
			}
		}
		p {
			margin: 0 1rem;
			text-align: justify;
			color: var(--color-secondary2);
		}
	}

	&-card {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 95%;
		border-radius: 5px;
		position: relative;
		justify-content: space-evenly;
		margin-bottom: 2rem;
		border: 1px solid rgba(173, 172, 172, 0.236);
		box-shadow: 0 0.3rem 5rem rgba(173, 172, 172, 0.096);
		background-color: var(--color-primary);

		&-col1 {
			aspect-ratio: 1;
			// min-width: 300px;
			width: 100%;
			position: relative;

			&-frame {
				position: relative;
				z-index: 1;
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 5px;
				&:hover {
					cursor: pointer;
				}
			}
			&-overlay {
				border: 1px solid white;
				border-radius: 5px;
				top: 0;
				right: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				position: absolute;
				background: var(--color-primary);
				transition: background 0.5s ease-in-out;
				&:hover {
					cursor: pointer;
					background: none;
					transition: background 0.5s ease-in-out;
				}
			}
			&-logo {
				position: absolute;
				z-index: 2;
				width: 50%;
				height: 50%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				object-fit: contain;

				&:hover {
					cursor: pointer;
				}
			}
		}
		&-col2 {
			width: 100%;
			// min-width: 300px;
			padding: 1rem 0.8rem;
			&-title {
				h3 {
					text-align: center;
					color: var(--color-secondary);
					padding: 0.5rem 0;
				}
				h4 {
					text-align: center;
					color: var(--color-secondary2);
					margin-bottom: 2rem;
				}
			}
			p {
				text-align: justify;
			}
			&-bottom {
				margin-top: 1rem;
				display: flex;
				height: fit-content;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				button {
					font-family: var(--ff-main);
					font-weight: 500;
					font-size: var(--fs-400);
					border: none;
					// padding: 1em 2em;
					text-transform: none;
					text-align: left;
					&:hover {
						background: none;
						background-color: transparent;
						transition: none;
						border: none;
					}
				}
				&-left {
					height: 2.5rem;
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					&-button1 {
						&:hover {
							color: var(--color-accent2);
						}
					}
				}

				&-right {
					width: 100%;
					height: 2.5rem;
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					align-items: center;
					img {
						height: 1.5rem;
						object-fit: contain;
						&:hover {
							height: 2rem;
							cursor: pointer;
							filter: drop-shadow(0 0 0.2rem var(--color-accent1));
						}
					}
					button {
						cursor: auto;
						color: var(--color-secondary);
					}
				}
			}
		}
	}
	@media (min-width: 561px) and (max-width: 1024px) {
		&-card {
			max-width: 445px;
			// padding: 2rem 0;
			&-col1 {
				max-width: 445px;
			}
			&-col2 {
				max-width: 420px;

				padding: 2rem 1rem;

				&-bottom {
					&-left {
						height: 2.5rem;
						padding: 0.5rem 0;
					}
					&-right {
						height: 2.5rem;
						padding: 0.5rem 0;
						img {
							height: 2rem;
							&:hover {
								height: 2.5rem;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: 1025px) {
		&-card {
			padding: 1rem 0.5rem;
			max-width: 870px;
			&-col1 {
				max-width: 410px;
			}
			&-col2 {
				max-width: 400px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				&-title {
					h3 {
						text-align: start;
						// padding: 1rem 0;
					}
					h4 {
						text-align: start;
						margin-bottom: 2rem;
					}
				}
				&-bottom {
					margin-top: 5rem;
					flex-direction: row;
					&-left {
						height: 100%;
						width: 80%;
						button {
							border: 1px solid var(--color-accent1);
							border-radius: 5px;
							height: 100%;
							width: 100%;
							&:hover {
								border: 1px solid var(--color-accent2);
							}
						}
					}
					&-right {
						width: 100%;
						height: 3rem;
						justify-content: space-evenly;
						img {
							height: 2.5rem;
							&:hover {
								height: 3rem;
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: 1440px) {
		&-card {
			padding: 1rem 0.5rem;
			max-width: 1470px;
			&-col1 {
				max-width: 510px;
			}
			&-col2 {
				max-width: 500px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				&-title {
					h3 {
						text-align: start;
						// padding: 1rem 0;
					}
					h4 {
						text-align: start;
						margin-bottom: 2rem;
					}
				}
				&-bottom {
					margin-top: 5rem;
					flex-direction: row;
					&-left {
						height: 100%;
						width: 80%;
						button {
							border: 1px solid var(--color-accent1);
							border-radius: 5px;
							height: 100%;
							width: 100%;
							&:hover {
								border: 1px solid var(--color-accent2);
							}
						}
					}
					&-right {
						width: 100%;
						height: 3rem;
						justify-content: space-evenly;
						img {
							height: 2.5rem;
							&:hover {
								height: 3rem;
							}
						}
					}
				}
			}
		}
	}
}

.details {
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	text-align: justify;

	overflow: hidden;
	&-header {
		width: 100%;
		margin-top: 5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem 0;
		&-head {
			max-width: 700px;
			padding: 1rem 0;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			&-title {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				h2 {
					font-size: var(--fs-h2);
				}
				h3 {
					margin-top: 0.5rem;
					font-size: var(--fs-h3);
					color: var(--color-secondary2);
				}
				h4 {
					font-size: var(--fs-p);
					color: var(--color-grey);
				}
			}
			img {
				max-width: 10rem;
				min-width: 100px;
				object-fit: contain;
				margin-bottom: 1rem;
				transition: margin 1s ease-in-out;
			}
			@media (min-width: 440px) {
				&-title {
					align-items: flex-start;
					justify-content: center;
				}
				img {
					margin-right: 0.5rem;
					margin-bottom: 0rem;
				}
			}
			@media (min-width: 600px) {
				img {
					margin-right: 2rem;
				}
			}
			@media (min-width: 900px) {
				img {
					max-width: 10rem;
					margin-bottom: 0rem;
				}
			}
		}
		&-body {
			max-width: 700px;
			width: 100%;
			display: flex;
			justify-content: center;
			p {
				font-size: var(--fs-h3);
				margin: 1rem;
				width: 95%;
				transition: margin 1s ease-in-out;
			}
			@media (min-width: 500px) {
				p {
					font-size: var(--fs-h3);
					margin: 2rem 1rem;
				}
			}
		}
	}
	&-hero {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		position: relative;
		justify-content: center;
		&-bg {
			z-index: 0;
			position: absolute;
			width: 1000rem;
			height: 99.25%;
			background-color: var(--color-accent2);
			opacity: 0.05;
		}

		&-booksynation {
			z-index: -1;
			position: absolute;
			top: -8rem;
			right: 15rem;
			width: 30rem;
			height: 30rem;
			border-radius: 50%;
			background: var(--booksynation);
			opacity: 1;
			&-sub {
				z-index: -1;
				position: absolute;
				top: -12rem;
				right: 10rem;
				width: 20rem;
				height: 20rem;
				border-radius: 50%;
				background: var(--booksynation);
				opacity: 0.75;
			}
			&-sub2 {
				z-index: -1;
				position: absolute;
				top: -15rem;
				right: 7rem;
				width: 10rem;
				height: 10rem;
				border-radius: 50%;
				background: var(--booksynation);
				opacity: 0.5;
			}
		}
		&-recycler {
			z-index: -1;
			position: absolute;
			top: -8rem;
			right: 15rem;
			width: 30rem;
			height: 30rem;
			border-radius: 50%;
			background: var(--recycler);
			opacity: 1;
			&-sub {
				z-index: -1;
				position: absolute;
				top: -12rem;
				right: 10rem;
				width: 20rem;
				height: 20rem;
				border-radius: 50%;
				background: var(--recycler);
				opacity: 0.75;
			}
			&-sub2 {
				z-index: -1;
				position: absolute;
				top: -15rem;
				right: 7rem;
				width: 10rem;
				height: 10rem;
				border-radius: 50%;
				background: var(--recycler);
				opacity: 0.5;
			}
		}
		&-whitelist {
			z-index: -1;
			position: absolute;
			top: -8rem;
			right: 15rem;
			width: 30rem;
			height: 30rem;
			border-radius: 50%;
			background: var(--whitelist);
			opacity: 1;
			&-sub {
				z-index: -1;
				position: absolute;
				top: -12rem;
				right: 10rem;
				width: 20rem;
				height: 20rem;
				border-radius: 50%;
				background: var(--whitelist);
				opacity: 0.75;
			}
			&-sub2 {
				z-index: -1;
				position: absolute;
				top: -15rem;
				right: 7rem;
				width: 10rem;
				height: 10rem;
				border-radius: 50%;
				background: var(--whitelist);
				opacity: 0.5;
			}
		}
		&-datagrades {
			z-index: -1;
			position: absolute;
			top: -8rem;
			right: 15rem;
			width: 30rem;
			height: 30rem;
			border-radius: 50%;
			background: var(--datagrades);
			opacity: 1;
			&-sub {
				z-index: -1;
				position: absolute;
				top: -12rem;
				right: 10rem;
				width: 20rem;
				height: 20rem;
				border-radius: 50%;
				background: var(--datagrades);
				opacity: 0.75;
			}
			&-sub2 {
				z-index: -1;
				position: absolute;
				top: -15rem;
				right: 7rem;
				width: 10rem;
				height: 10rem;
				border-radius: 50%;
				background: var(--datagrades);
				opacity: 0.5;
			}
		}

		&-altruwiz {
			z-index: -1;
			position: absolute;
			top: -8rem;
			right: 15rem;
			width: 30rem;
			height: 30rem;
			border-radius: 50%;
			background: var(--altruwiz);
			opacity: 1;
			&-sub {
				z-index: -1;
				position: absolute;
				top: -12rem;
				right: 10rem;
				width: 20rem;
				height: 20rem;
				border-radius: 50%;
				background: var(--altruwiz);
				opacity: 0.75;
			}
			&-sub2 {
				z-index: -1;
				position: absolute;
				top: -15rem;
				right: 7rem;
				width: 10rem;
				height: 10rem;
				border-radius: 50%;
				background: var(--altruwiz);
				opacity: 0.5;
			}
		}
		&-tingbits {
			z-index: -1;
			position: absolute;
			top: -8rem;
			right: 15rem;
			width: 30rem;
			height: 30rem;
			border-radius: 50%;
			background: var(--tingbits);
			opacity: 1;
			&-sub {
				z-index: -1;
				position: absolute;
				top: -12rem;
				right: 10rem;
				width: 20rem;
				height: 20rem;
				border-radius: 50%;
				background: var(--tingbits);
				opacity: 0.75;
			}
			&-sub2 {
				z-index: -1;
				position: absolute;
				top: -15rem;
				right: 7rem;
				width: 10rem;
				height: 10rem;
				border-radius: 50%;
				background: var(--tingbits);
				opacity: 0.5;
			}
		}
		&-frame {
			z-index: 1;
			aspect-ratio: 1;
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-right {
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			padding: 1rem 0;

			h3 {
				margin: 1rem;
				font-size: var(--fs-600);
				// color: var(--color-accent2);
				font-weight: 600;
			}
			p {
				margin: 0 1rem 1rem 1rem;
				font-size: var(--fs-500);
				// color: var(--color-primary);
			}
			&-stack {
				display: flex;
				flex-direction: row;
				margin: 0.5rem;
				img {
					margin: 0.2rem;
					width: 2rem;
					height: 2rem;
					object-fit: contain;
				}
			}

			@media (min-width: 451px) {
				&-stack {
					img {
						width: 2.5rem;
						height: 2.5rem;
					}
				}
				p {
					max-width: 600px;
				}
			}
		}
	}
	&-botSection {
		margin: 1rem 0;
		padding: 1rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		h3 {
			font-size: var(--fs-600);
			margin: 0rem 1rem;
			font-weight: 600;
		}
		p {
			font-size: var(--fs-500);
			margin: 1rem 1rem 3rem 1rem;
		}
		&-buttons {
			margin: 0 1rem;
			min-width: 150px;
			height: 4rem;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			img {
				height: 3rem;
				object-fit: contain;
				margin: 0 1rem;
				&:hover {
					height: 3.2rem;
				}
			}
			button {
				cursor: auto;
				color: var(--color-secondary);
				font-family: var(--ff-main);
				&:hover {
					background-color: transparent;
				}
			}
		}
		@media (max-width: 480px) {
			h2 {
				font-size: var(--fs-h3);
			}
			p {
				font-size: var(--fs-h4);
			}
			&-buttons {
				img {
					height: 2.5rem;

					&:hover {
						height: 3rem;
					}
				}
			}
		}
	}
	@media (min-width: 620px) {
		&-hero {
			&-frame {
				width: 50%;
			}
			&-right {
				width: 47%;
				align-items: flex-start;
				&-stack {
					margin-right: 1rem;
					align-self: flex-end;
					justify-content: space-evenly;
					img {
						width: 3rem;
						height: 3rem;
					}
				}
			}
		}
		&-botSection {
			align-items: flex-start;
			&-buttons {
				width: 20rem;
				align-self: flex-end;
			}
		}
	}
	@media (max-width: 1999px) {
		&-header {
			&-head {
				max-width: var(--breakpoint-large);
			}
			&-body {
				max-width: var(--breakpoint-small);
			}
		}
		&-hero {
			max-width: var(--breakpoint-large);
		}
		&-botSection {
			max-width: var(--breakpoint-small);
		}
	}
	@media (min-width: 2000px) {
		&-header {
			&-body {
				max-width: var(--breakpoint-large);
			}
		}
		&-hero {
			max-width: var(--breakpoint-large);
		}
		&-botSection {
			max-width: var(--breakpoint-large);
		}
	}
}

.view-buttons {
	&:hover {
		cursor: pointer;
		filter: drop-shadow(0 0 0.2rem var(--color-accent1));
	}
}
.about {
	margin-top: 2rem;
	width: min(90%, 70.5rem);
	display: flex;
	flex-direction: column;
	text-align: justify;
	align-self: center;
	align-items: flex-start;
	position: relative;
	&-title {
		margin-bottom: 1rem;
	}
	// &-desc1 {
	// 	margin: 0 1rem;
	// 	height: 10rem;

	// 	h2 {
	// 		color: var(--color-secondary2);
	// 		font-size: var(--fs-h2);
	// 		font-weight: 500;
	// 		transition: font-size 1s ease-in-out;
	// 	}
	// // }
	// @media (max-width: 400px) {
	// 	&-title {
	// 		h1 {
	// 			font-size: var(--fs-h2);
	// 			transition: font-size 1s ease-in-out;
	// 		}
	// 	}
	// 	&-desc1 {
	// 		h2 {
	// 			font-size: var(--fs-h3);
	// 			transition: font-size 1s ease-in-out;
	// 		}
	// 	}
	// }
	&-desc2 {
		padding: 1rem 3rem;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		align-self: center;
		p {
			font-size: var(--fs-h3);
		}
	}

	&-hero {
		padding: 1rem;
		display: flex;
		align-self: center;
		flex-direction: row;
		align-items: center;
		overflow: hidden;
		width: 90%;
		cursor: grab;
		background: var(--color-primary);
		&-carousel {
			display: flex;

			&-image {
				margin-right: 1rem;
				img {
					border-radius: 5px;
					height: clamp(300px, 15vh + 1rem, 400px);
					pointer-events: none;
				}
			}
		}
	}

	&-desc3 {
		margin: 2rem 0;
		padding: 2rem;
		height: auto;
		width: calc(100% - 4.2rem);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&-saying {
			margin-top: 2rem;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			&-quote {
				max-width: 920px;
				margin-bottom: 2rem;
				h3 {
					margin: 1rem;
					color: var(--color-accent1);
				}

				h4 {
					margin: 1rem;
					align-self: flex-start;
					font-size: 1.2rem;
				}

				p {
					margin: 1rem;
				}
			}
			@media (max-width: 400px) {
				&-quote {
					h3 {
						text-align: justify;
					}

					h4 {
						font-size: 1.2rem;
					}

					p {
						font-size: var(--fs-h4);
					}
				}
			}
		}
	}
	@media (max-width: 900px) {
		&-desc3 {
			&-saying {
				width: 100%;
			}
		}
	}
}

.contact {
	// border: 1px solid red;
	display: flex;
	width: min(90%, 70.5rem);
	flex-direction: column;
	margin: 4rem 1rem;
	align-items: flex-start;
	h3 {
		font-size: var(--fs-600);
	}

	&-cont {
		padding-left: 2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		a {
			text-decoration: none;
		}
		&-resume {
			margin-top: 1rem;
			button {
				font-size: var(--fs-400);
				font-size: var(--fs-h3);
				color: var(--color-secondary2);
				text-transform: none;
				&:hover {
					background-color: none;
					background: none;
					color: var(--color-accent1);
				}
			}
		}

		&-row {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 1rem;
			button {
				font-size: var(--fs-400);
				font-size: var(--fs-h3);
				color: var(--color-secondary2);
				text-transform: lowercase;
				&:hover {
					background-color: none;
					background: none;
					color: var(--color-accent1);
				}
			}
			&-pop {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
		}
	}
	@media (min-width: 900px) {
		&-cont {
			align-self: center;
			width: 85%;
		}
	}
	@media (max-width: 400px) {
		&-cont {
			padding-left: 0;
			h3 {
				font-size: var(--fs-h4);
			}
			// &-row {
			// 	button {
			// 		font-size: var(--fs-h4);
			// 	}
			// }
		}
	}
}

.loadScreen {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: white;
	animation-name: background;
	animation-duration: 5s;
}

.display-flex {
	display: flex;
}

.display-none {
	display: none;
}

@keyframes background {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
