:root {
	--blue: #1e90ff;
	--cyan: #31cbd6;
	--dark-blue: #013768;
	--white: #ffffff;
	--black: #313131;
	--gradient: linear-gradient(180deg, #0094fe 0%, #31cbd6 56.77%, #cefcff 100%);
	--faded-gradient: linear-gradient(
		180deg,
		#0094fe -9.95%,
		#cefcff 50.98%,
		#ffffff 83.8%
	);
	--faded-gradient2: linear-gradient(
		180deg,
		#0094fe 0%,
		rgba(49, 203, 214, 0.75) 46.35%,
		rgba(206, 252, 255, 0.6) 100%
	);
	--shadow-text: 1px 2px 0.3rem hsl(192, 96%, 28%);
	--shadow-text2: 2px 3px 0.5rem hsl(0, 0%, 100%);
	--shadow-shape: 0 0.3rem 0.5rem hsla(192, 100%, 36%, 0.5);
	--font1: 'Montserrat', sans-serif;
}

html {
	font-size: 16px;
}

body,
h1,
h2,
h3,
a,
p {
	margin: 0;
	font-family: var(--font1);
	font-style: normal;
}

p {
	font-family: var(--font1);
}

h1,
h2,
h3 {
	color: var(--dark-blue);
	font-weight: 700;
	line-height: 1;
}

h2,
h3,
p {
	margin-bottom: 0.5em;
}
img {
	display: block;
	max-width: 100%;
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 5rem;
}
//navbar
.navbar {
	margin: 0;
	height: 5rem;
	width: 100%;
	display: flex;
	align-items: center;
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style-type: none;
	}
	li a {
		text-decoration: none;
		font-weight: 600;
		font-size: 1rem;
		color: var(--black);
		&:hover {
			color: var(--cyan);
		}
	}
	img {
		width: 4rem;
		margin-right: 3em;
	}
}

.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	&-container {
		height: 100vh;
		width: 85%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		&-col1 {
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			padding: 2rem 3rem;
			&-top {
				display: flex;
				flex-direction: column;
				width: 60vw;
				margin-bottom: 5vh;

				&-textcont {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: flex-start;
					width: 100%;
					&-text1 {
						&-intro {
							margin-right: 1rem;
							h1 {
								font-size: 2.8rem;
								line-height: 1.5em;
								color: var(--dark-blue);
							}
						}
						&-name {
							color: var(--dark-blue);
							h1 {
								font-size: 2.8rem;
								line-height: 1.5em;
								font-weight: 800;
							}
							&-2 {
								font-weight: 800;
								color: var(--white);
								text-shadow: var(--shadow-text);
							}
						}
					}
				}
				@media (min-width: 850px) {
					&-textcont {
						justify-content: center;
					}
				}
				&-textcont2 {
					align-self: center;
					&-text2 {
						padding-top: 1em;
						font-family: var(--font1);
						font-weight: 600;
						font-size: 1.2em;
						color: var(--black);
						&-3 {
							color: var(--white);
							text-shadow: var(--shadow-text);
						}
					}
				}
			}

			&-row {
				display: flex;
				flex-direction: row;
				justify-content: center;

				width: 85%;
				&-button1 {
					margin-right: 2em;
					width: 12em;
					height: 3em;
					font-weight: 700;
					font-size: 1.1rem;
					background-color: var(--blue);
					color: var(--white);
					border: 0;
					border-radius: 10px;
					cursor: pointer;
					&:hover {
						background: var(--gradient);
						color: var(--white);
					}
				}
				&-button2 {
					width: 12em;
					height: 3em;
					font-weight: 700;
					font-size: 1.1rem;
					background-color: transparent;
					text-shadow: var(--shadow-text2);
					color: var(--blue);
					border: 0;
					border-radius: 10px;
					cursor: pointer;
					&:hover {
						color: var(--cyan);
					}
				}
			}
		}
		&-circle {
			z-index: -1;
			position: absolute;
			width: 450px;
			height: 450px;
			left: 60%;
			top: 0%;
			border-radius: 50%;
			background: var(--gradient);
		}
		@media (min-width: 1080px) {
			&-circle {
				left: 50%;
			}
		}
		&-comet {
			position: absolute;
			z-index: -2;
			width: 32.88px;
			height: 515px;
			left: 15%;
			top: 5%;
			border-radius: 50%;
			background: var(--faded-gradient);
			transform: rotate(-121.4deg);
		}
	}
}
.techStack {
	height: 80vh;
	padding: 0 5vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	&-cont1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			margin: 0;
			font-weight: 700;
			font-size: 2.8rem;
			line-height: 2.8rem;
			color: var(--dark-blue);
		}
		p {
			font-weight: 300;
			padding-top: 1em;
			font-size: 1.5rem;
			line-height: 1.5rem;
			text-align: center;
			color: var(--dark-blue);
		}
	}
	&-cont2 {
		margin-top: 10vh;
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		column-gap: 5vw;
		row-gap: 10vh;
		img {
			object-fit: contain;
			height: 125px;
			width: 125px;
		}
	}
}

.projects {
	margin-top: 8vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	&-comet {
		z-index: -1;
		position: absolute;
		width: 45.52px;
		height: 388.24px;
		left: 0;
		top: 0;
		border-radius: 50%;
		background: var(--faded-gradient);
		transform: matrix(-0.54, -0.79, 0.92, -0.5, 0, 0);
	}
	&-header {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 5vh;

		position: relative;
		&-title {
			align-self: flex-start;
			h1 {
				font-weight: 700;
				font-size: 2.8rem;
				line-height: 2.8rem;
				margin-bottom: 5vh;
				color: var(--dark-blue);
			}
		}
		p {
			font-weight: 400;
			font-size: 1.5rem;
			text-align: justify;
			color: var(--dark-blue);
		}
	}
	&-card {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 80%;
		position: relative;
		justify-content: space-evenly;
		&-col1 {
			aspect-ratio: 1;
			min-width: 300px;
			width: 40%;
			height: 50vh;
			border-radius: 10px;
			position: relative;
			&-frame {
				position: relative;
				z-index: -1;
				width: 95%;
				height: 95%;
				object-fit: contain;
			}
			&-overlay {
				top: 0;
				right: 0;
				border-radius: 10px;
				z-index: 1;
				width: 100%;
				height: 100%;
				position: absolute;
				background: var(--faded-gradient2);
			}
			&-logo {
				position: absolute;
				z-index: 2;
				width: 80%;
				height: 80%;
				top: 50%; /* position the top  edge of the element at the middle of the parent */
				left: 50%; /* position the left edge of the element at the middle of the parent */
				transform: translate(-50%, -50%);
				object-fit: contain;
			}
		}
		&-col2 {
			width: calc(60% - 10vw);
			min-width: 300px;
			padding: 5vh 5vw;
			&-title {
				margin-bottom: 5vh;
				h2 {
					font-weight: 700;
					font-size: 2rem;
					color: var(--dark-blue);
				}
				h3 {
					font-weight: 600;
					font-size: 1.2rem;
					line-height: 1.2rem;
					color: var(--black);
				}
			}
			p {
				font-weight: 400;
				font-size: 1.2rem;
				line-height: 1.2rem;
				text-align: justify;
				color: var(--black);
				margin-bottom: 10vh;
			}
			&-bottom {
				display: flex;
				height: 3.5rem;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				button {
					font-family: 'Montserrat';
					font-weight: 500;
					font-size: 0.9rem;
					border: none;
					padding: 0;
					text-transform: none;
					&:hover {
						color: var(--dark-blue);
						background: none;
						background-color: transparent;
						transition: none;
						border: none;
					}
				}
				&-left {
					align-self: center;
					width: 40%;
				}
				&-right {
					width: 60%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					img {
						height: 3rem;
						object-fit: contain;
						&:hover {
							height: 3.2rem;
						}
					}
					button {
						cursor: auto;
						color: var(--dark-blue);
					}
				}
			}
		}
	}
}
